#wrapper{
    display: flex;
    justify-content: center;
    
}

#container{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    
}

#center{
    display: block;
    width: 910px;
    margin-right: 50px;
    border-right: 1px solid lightslategray;
}

#right{
    display: flex;
    width: 440px;
  
}

#left{
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    border-right: 1px solid lightslategray;
}


#left_above{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item_left{
    width:32px;
    margin-top: 50px;
}

.item_right-1{
    margin-top: 50px;
}

#center_top{
    display: flex;
    margin-top: 40px;
    margin-bottom: 12px;
    justify-content: space-between;
}
#center_between--above{
    display: flex;
    margin-bottom: 10px;
}
.center_between--item{
    margin-right: 15px;
}
#banner{
  background-image: url('img_big.png');
  margin-bottom: 25px;
}
#center_between--below{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
#center_bottom{
    display: flex;
    justify-content: center;
    
}
.center_bottom--item{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.center_bottom-item{
    width: 100px;
    height: 43px;
    margin-right: 10px;
}
#right_top{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#setting{
    margin-top:36px;
}