* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

.title {
    color:#4a4545
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
    border-right: 1px solid #e2dfdf;
}

.menu-top {

}

.logo {
    margin: 28px 18px;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-nav-item {
    margin-bottom: 16px;
}

.menu-bottom {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-bottom: 10px;
}

.menu-user {
    margin: 0 0 10px 6px;
}

.content {
    margin-left: 90px;
    display: flex;
}

.content-left {
    border-right: 1px solid #e2dfdf;
    width: 68%;
    padding: 30px;
}

.metting-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.metting-title span {
    font-size: 12px;
    padding: 8px 20px;
    color: rgb(238, 51, 51);
    border: 1px solid rgb(238, 51, 51);
    border-radius: 15px;
}

.metting-infor {
    display: flex;
    align-items: center;
}

.meeting-infor-scope {
    margin-right: 18px;
    background-color: rgb(248, 112, 134);
    color: #fff;
    padding: 8px 18px;
    border-radius: 16px;

}

.meeting-infor-fence {
    margin: 0 18px;
    width: 1px;
    height: 16px;
    background-color:  #c7c5c5;
}

.meeting-live {
    margin-top: 24px;
}

.meeting-main-live-img {
    width: 100%;
    border-radius: 10px;
}

.meeting-main-live {
    position: relative;
}

.meeting-main-live-name {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ecebeb;
    border-radius: 16px;
    background-color: #828282;
    padding: 8px 20px;
}

.meeting-main-live-mic {
    position: absolute;
    top: 20px;
    right: 20px;
}

.meeting-live-user {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.meeting-live-user-item {
    position: relative;
    width: 31.6%;
}

.meeting-user-pic {
    width: 100%;
    border-radius: 10px;
}

.meeting-live-user-item-name {
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ecebeb;
    border-radius: 16px;
    background-color: #828282;
    padding: 4px 20px;

}

.user-live-mic {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:  rgb(201, 199, 199);
    padding: 4px;
    border-radius: 4px;
}

.meeting-live-control {
    display: flex;
    justify-content: center;
}

.meeting-control-list-btn {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.meeting-control-btn-item {
    margin: 0 6px;
}

.end-meeting {
    background-color: rgb(253, 73, 73);
    line-height: 44px;
    padding: 12px 20px;
    color: #ece8e8;
    border-radius: 5px;
}

.content-right {
    width: 42%;
    padding: 30px;
}

.participant-headding {
    display: flex;
    justify-content: space-between;
}

.participant-title {
    display: flex;
    align-items: center;
}

.participant-title h2 {
    margin-right: 14px;
}

.quality-participant {
    padding: 6px 10px;
    border-radius: 50%;
    color: rgb(238, 51, 51);
    background-color: rgb(249, 229, 232);
}

.add-participant {
    color: rgb(238, 108, 108);
    border: 1px solid rgb(238, 108, 108);
    padding: 8px 12px;
    border-radius: 5px;
}

.participant-user-list {
    list-style: none;
    margin-top: 40px;
}

.participant-user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.participant-user-item-left {
    display: flex;
    align-items: center;
}

.participant-user-item-left img {
    margin-right: 20px;
}

.participant-user-item-right {
    display: flex;
    align-items: center;
}

.participant-user-item-right img {
    margin-left: 10px;
}

.participants {
    padding-bottom: 18px;
    border-bottom: 1px solid #e2dfdf;
}

.chat {
    margin-top: 25px;
}

.chat-content-list {
    margin-top: 28px;
    list-style: none;
}

.chat-content-item {
    margin-bottom: 20px;
}

.chat-participant {
    display: flex;
    align-items: center;
}

.chat-input {
    width: 80%;
    margin: 10px 0 30px 0;
}

.chat-participant span {
    font-weight: 600;
    font-size: 14px;
    margin: 0 10px;
}

.chat-participant p {
    font-size: 12px;
}

.chat-content-special {
    margin: 0 20px 6px 50px;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.chat-input {
    padding: 10px 20px;
    border: 1px solid #d0cfcf;
    border-radius: 5px;
    margin: 0;
}

.send-chat {
    margin-top: 30px;
    display: flex;
}

.send-chat img {
    margin-left: 20px;
}